*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid;
}
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-sans);
  font-size: var(--_otnfkq1v);
  scrollbar-gutter: stable;
  -webkit-font-smoothing: antialiased;
}
