.heroSection {
  position: relative;
  width: 100vw;
  height: 450px;
  left: 50%;
  margin-inline-start: -50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heroSection img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
